<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--TODO provider name-->
    <add name="DB_Events"
         providerName="" 
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DB_Events;Integrated Security=True"/>
  </connectionStrings>
</configuration>